<!-- Tools Card -->
<div class="card section-card d-none d-md-block">
    <div class="card-body pt-0">
        <div class="section-title card-title text-center py-1">Tools</div>
        <div class="d-grid gap-2" style="grid-template-columns: repeat(3, 1fr);">
            <button id="btn-pencil" class="btn btn-selectable p-1" style="aspect-ratio: 1/1;">
                <i class="bi bi-pencil"></i>
            </button>
            
            <button class="btn btn-selectable p-1" style="aspect-ratio: 1/1;" disabled>
                <i class="bi bi-paint-bucket"></i>
            </button>
            
            <button class="btn btn-selectable p-1" style="aspect-ratio: 1/1;" disabled>
                <i class="bi bi-type"></i>
            </button>

            <button class="btn btn-selectable p-1" style="aspect-ratio: 1/1;" disabled>
                <i class="bi bi-eraser"></i>
            </button>

            <button class="btn btn-selectable p-1" style="aspect-ratio: 1/1;" disabled>
                <i class="bi bi-eyedropper"></i>
            </button>

            <button class="btn btn-selectable p-1" style="aspect-ratio: 1/1;" disabled>
                <i class="bi bi-zoom-in"></i>
            </button>
        </div>
    </div>
</div>