{% load static %}

<style>
    .back {
        background: linear-gradient(135deg, #00dacb9f, #886abbce);
    }
</style>
<html>
    <head>
        {% include 'elements/includes.html' %}
        <title>Brushie</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    
{% include 'elements/navbar.html' with active="home" %}
<body>
    <div class="d-flex flex-column pt-2 pb-2" style="height: calc(100vh - 56px);">
        <div class="vstack h-100">
            <div class="container-fluid h-100" style="max-width: 70%;">
                <div class="row mb-5">
                    <div class="col text-center">
                        <h1 class="display-2">Brushie</h1>
                    </div>
                </div>
                <div class="row d-flex flex-row justify-content-center">
                   
                </div>
            </div>
        </div>
    </div>
</body>
