{% load static %}

{% include 'elements/includes.html' %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forgotten Password</title>
        {% include 'elements/navbar.html' with active="" %}
    </head>

    <body>
        <div class="d-flex justify-content-center align-items-center pt-2 pb-2" style="height: calc(100vh - 56px); background-color: #abc3f8">
            <div class="card bg-light mb-5" style="min-width: 350px;">
                <div class="card-body text-center">
                    <h5 class="mb-3">Forgotten your password?</h5>
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="module aligned">
                            <div class="form-floating gap-3 mb-3">
                                {{ form.email.errors }}
                                <input type="email" class="form-control rounded" name="email" autocomplete="email" maxlength="254" required="" id="id_email"> 
                                <label for="id_email">Email address:</label>
                            </div>
                            <input class="w-100 btn btn-lg btn-secondary" type="submit" value="Reset my password">
                        </fieldset> 
                    </form>
                </div>
            </div>
        </div>       
    </body>
</html>