{% load static %}

{% include 'elements/includes.html' %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Password</title>
        {% include 'elements/navbar.html' with active="" %}
    </head>

    <body>
        <div class="d-flex justify-content-center align-items-center pt-2 pb-2" style="height: calc(100vh - 56px); background-color: #abc3f8">
            <div class="card bg-light mb-5" style="min-width: 350px;">
                <div class="card-body text-center">
                    {% if validlink %}
                    <form method="post">
                    {% csrf_token %}
                        <h5 class="mb-3">Please enter your new password</h5>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" name="new_password1" autocomplete="current-password" required id="id_new_password1">
                            <label for="id_new_password1">Password</label>
                            <div id="new_password1Help" class="form-text">Password must contain at least 8 characters</div>
                            <div id="id_pass1_feedback" class="invalid-feedback">
                            </div>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" name="new_password2" autocomplete="current-password" required id="id_new_password2">
                            <label for="id_new_password2">Password Confirmation</label>
                            <div class="invalid-feedback">
                                Passwords do not match
                            </div>
                        </div>
                        <input class="w-100 btn btn-lg btn-secondary" type="submit" value="Change my password">
                    </form>
                    {% else %}
                    <h5 class="mb-3 text-danger">Password reset unsuccessful</h5>
                    <p class="mb-4">
                        The password reset link is invalid or has already been used.<br>
                        Please request a new password reset to continue.<br>
                    </p>
                    <a href="{% url 'password_reset' %}" class="btn btn-secondary w-100">
                        Request a new reset link
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>       
    </body>
</html>

<script src="{% static 'js/password_validation.js' %}"></script>