{% load static %}

{% include 'elements/includes.html' %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brushie Login</title>
        {% include 'elements/navbar.html' with active="" %}
    </head>

    <body>
        <div class="d-flex justify-content-center align-items-center pt-2 pb-2" style="height: calc(100vh - 56px); background-color: #abc3f8">
            <div class="card bg-light mb-5" style="min-width: 350px;">
                <div class="card-body text-center">
                    <p class="mb-3">
                        We’ve emailed you instructions for setting your password,<br>
                        <strong>if an account exists</strong> with the email address you entered.<br>
                        You should receive them shortly.<br>
                    </p>
                    <p class="text-muted mb-4">
                        If you don’t receive an email, please make sure you entered the address<br>
                        you registered with and check your spam folder.<br>
                    </p>

                    <a href="{% url 'login' %}" class="btn btn-secondary w-100">
                        Back to login
                    </a>
                </div>
            </div>
        </div>       
    </body>
</html>