{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>

<script src="https://kit.fontawesome.com/4e28e64680.js" crossorigin="anonymous"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7x1Q5HQ0q6m9yf2tb0w5U3R5Z1R9p5B9aF+l7lZ3d0+/W8ZwP9g6lVb9g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>