<!-- Toolbar / menu bar -->
<nav class="navbar navbar-expand navbar-light bg-light border-bottom py-0">
    <div class="container-fluid">
        <ul class="navbar-nav">

            <!-- File -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    File
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">New</a></li>
                    <li><a class="dropdown-item" href="#">Open</a></li>
                    <li><a class="dropdown-item" href="#">Save</a></li>
                </ul>
            </li>
            
            <!-- Undo -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-arrow-counterclockwise"></i> Undo
                </a>
            </li>

            <!-- Redo -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-arrow-clockwise"></i> Redo
                </a>
            </li>

        </ul>
    </div>
</nav>