<style>
    /* General Formating */
    .section-title {
        font-size: 12px;
    }
    .section-card {
        height: 110px;
    }
    .drawing-toolbar .btn:hover {
        background-color: #f0f0f0;
        border: 1px solid #a5a3a3;
    }
    .btn.selected {
        background-color: #e0e1fa;
        outline: 1px solid #0d6efd;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
<div class="container-fluid mt-2 m-0 px-0 w-100">
    <div class="drawing-toolbar d-flex gap-1">
        {% include 'elements/toolbar/selection-card.html'%}
        {% include 'elements/toolbar/image-card.html'%}
        {% include 'elements/toolbar/tools-card.html'%}
        {% include 'elements/toolbar/brushes-card.html'%}
        {% include 'elements/toolbar/size-card.html'%}
        {% include 'elements/toolbar/shapes-card.html'%}
        {% include 'elements/toolbar/colors-card.html'%}    
        {% include 'elements/toolbar/layers-card.html'%}    
        
        <!-- Fill Remiaining Space -->
        <div class="card section-card flex-grow-1">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    // =========================================
    // General Button Selected
    // =========================================   
    const buttons = document.querySelectorAll(".btn-selectable");
    buttons.forEach(btn => {
        btn.addEventListener("click", () => {
            // remove selected from all
            buttons.forEach(b => b.classList.remove("selected"));

            // add selected to clicked one
            btn.classList.add("selected");
            btn.blur();
        });
    });
});
</script>