<div id="loadModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Load Drawing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form id="saveForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="file" id="fileLoader" class="form-control">
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" onclick="loadFile()">Load</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
function loadFile() {
    const input = document.getElementById("fileLoader");
    const file = input.files[0];

    if (!file) return;

    const reader = new FileReader();

    reader.onload = function (e) {
        console.log("Loaded file:", e.target.result);

        bootstrap.Modal.getInstance(document.getElementById('openModal')).hide();
    };
}
</script>